<div class="conatainer-fluid bg-success text-white p-2">
    <h6>Angular-Assignment-Create a login page by creating a component and using bootstrap library - </h6>

</div>

<div class="container wrapper mt-3">


    <div class="row">
        <div class="col-md-6 text-center">
            <!-- <div class="logo py-2">
                <img src="/assets/images/logo214.svg" alt="logo">
            </div> -->
            <form class="rounded bg-white shadow p-3">
                <h4 class="text-dark fw-bolder fs-4 mb-1">Sign in to Salesforce</h4>
                <div class="fw-normal text-muted mb-2">
                    Dont have an account? <a href="#" class="text-primary fw-bold text-decoration-none">Create an
                        Account</a>
                </div>
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Email address</label>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Password</label>
                </div>
                <div class="text-end">
                    <a href="#" class="text-primary fw-bold text-decoration-none">Forgot Password?</a>
                </div>
                <button type="submit" class="btn btn-primary submit-button w-50 my-2">Sign-in</button>
                <div class="text-muted text-center text-uppercase mb-1">or</div>
                <a href="#" class="btn btn-light signin-with w-50 me-3">
                    <img src="/assets/images/google-icon.svg" alt="googleicon" class="me-3">Sign in with Google
                </a>
                <a href="#" class="btn btn-light signin-with w-50 me-3">
                    <img src="/assets/images/facebook-icon.svg" alt="facebookicon" class="me-3">Sign in with
                    Facebook
                </a>
                <a href="#" class="btn btn-light signin-with w-50 me-3">
                    <img src="/assets/images/linkedin-icon.svg" alt="linkedinicon" class="me-3">Sign in with
                    LinkedIn
                </a>
            </form>
        </div>

        <div class="col-md-6 mt-3">
            <img src="/assets/logimg2.jpg" class="img-fluid img-responsive mt-5 py-2 mx-2 " alt="">
        </div>
    </div>
    
    <footer class="text-center bg-secondary text-white mt-4">Made by Amey</footer>
</div>